
*.suo
/.vs/PlateLicense/v15/Server/sqlite3/db.lock
/.vs/PlateLicense/v15/Server/sqlite3/storage.ide
/.vs/PlateLicense/v15/Server/sqlite3/storage.ide-shm
/.vs/PlateLicense/v15/Server/sqlite3/storage.ide-wal
/PlatesLicense/.gitattributes
/PlatesLicense/bin/Debug/
/PlatesLicense/obj/
/PlatesLicense/packages/
/PlatesLicense/Core/Compression/Snappy/lib/win/snappy32.dll
/PlatesLicense/Core/Compression/Snappy/lib/win/snappy64.dll
/PlatesLicense/Core/Compression/Zstandard/lib/win/libzstd.dll
/PlatesLicense/libmongocrypt.dylib
/PlatesLicense/libmongocrypt.so
/PlatesLicense/mongocrypt.dll
/PlatesLicense/.vs/PlateLicense/v16/TestStore/0/000.testlog
/PlatesLicense/.vs/PlateLicense/v16/TestStore/0/testlog.manifest
